## Special Method (Magic Method)
* Core of Python -> Python Data Model
    * Sequence, Iterator, Funtions, Class
    * 모두 연계되어 있는 개념들
* Special Method (Magic Method)
    * 파이썬에 이미 내장되어 있는 수많은 클래스들에 포함된 매서드들
    * 단순 연산도 일종의 special method 가 내부적으로 동작해 결과를 산출함
    * 즉, 매서드이기 때문에 이를 custom 해 원하는 연산 과정으로 바꾸는 것도 가능하다.

In [2]:
# 기본형
print(int)
print(float)

<class 'int'>
<class 'float'>

In [3]:
# 모든 속성 및 메소드 출력
print(dir(float))

['__abs__', '__add__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getformat__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__int__', '__le__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__pos__', '__pow__', '__radd__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmod__', '__rmul__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__setattr__', '__setformat__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', 'as_integer_ratio', 'conjugate', 'fromhex', 'hex', 'imag', 'is_integer', 'real']

In [4]:
n =10
print(type(n))

<class 'int'>

In [5]:
print(n+100)
print(n.__add__(100))

110
110

In [6]:
print(n.__bool__(), bool(n))

True True

In [32]:
# class example
class Fruit:
    def __init__(self, name, price) -> None:
        self._name = name
        self._price = price
    
    def __str__(self):
        return "Fruit Class info {}, {}".format(self._name, self._price)
    
    def __add__(self, x):
        return self._price + x._price
    
    def __sub__(self, x):
        return self._price - x._price
    
    def __le__(self,x):
        if self._price <= x._price:
            return True
        else:
            return False
    
    def __ge__(self,x):
        if self._price >= x._price:
            return True
        else:
            return False

In [33]:
# make instance
s1 = Fruit("Orange", 7500)
s2 = Fruit("Banana", 3000)

In [34]:
print(s1._price + s2._price)

10500

In [35]:
s1+s2

10500

In [36]:
s1-s2

4500

In [37]:
s1 <= s2

False

In [38]:
s1 >= s2

True

In [40]:
print(s1)
print(s2)

Fruit Class info Orange, 7500
Fruit Class info Banana, 3000

In [14]:
# class for vector manipulation
# (5,2) + (4,3) = (9,5)
# (10,3) * 5 = (50,15)
# Max((5,10)) = 10

class Vector(object):
    def __init__(self, *arg):
        """
        Create a vector, example : v = Vector(5,10)
        """
        if len(arg) == 0:
            self._x, self._y = 0, 0
        else:
            self._x, self._y = arg
    
    def __repr__(self) -> str:
        """Return the vector infomations

        Returns:
            str: _description_
        """
        return 'Vector (%r, %r)' % (self._x, self._y)

    def __add__(self, other):
        """Return vector addiation

        Args:
            other (class): Vector class

        Returns:
            class: Vector
        """
        return Vector(self._x + other._x, self._y + other._y)

    def __mul__(self, s):
        """Return vector * scalar

        Args:
            s (float): scalar

        Returns:
            class: Vector
        """
        return Vector(self._x * s, self._y * s)

    def __bool__(self):
        """Check 0,0 vector

        Returns:
            bool: if zero vector, returned False 
        """
        # print('If returned False, the vector is a zero vector')
        return bool(max(self._x, self._y))

# print(Vector.__init__.__doc__)

In [15]:
# Vector Instacne
v1 = Vector(5,7)
v2 = Vector(23,53)
v3 = Vector()
s1 = 17

In [16]:
# Usage magic method
print(Vector.__init__.__doc__)

        Create a vector, example : v = Vector(5,10)

In [17]:
print(v1)
print(v2)
print(v3)

Vector (5, 7)
Vector (23, 53)
Vector (0, 0)

In [18]:
print(v1+v2)

Vector (28, 60)

In [19]:
print(v1*s1)

Vector (85, 119)

In [20]:
print(bool(v1))
print(bool(v3))

If returned False, the vector is a zero vector
True
If returned False, the vector is a zero vector
False

### Data Model 추상화
* 데이터 모델 설계
    * 객체(Obejct) : Python 에서 데이터를 추상화
    * 모든 객체는 고유한 id 값과 type 을 가진다
* NamedTuple
    * Tuple 의 성질을 가지면서 유지, 관리 측면의 효용이 더 좋은 객체
    * collection 모듈에 포함되어 있음
* Unpacking
    * Dictionary, list 등의 자료 구조를 그대로 인자로 넣어 활용 가능

In [21]:
# 일반적인 튜플
pt1 = (1.0, 5.0)
pt2 = (2.5, 1.5)

In [22]:
from math import sqrt

In [23]:
# 두 점 사이의 거리
l_leng1 = sqrt(((pt1[0] - pt2[0])**2) + ((pt1[1] - pt2[1])**2))
print(l_leng1)

3.8078865529319543

In [24]:
# Named Tuple
from collections import namedtuple

# Assign
Point = namedtuple('Point', 'x y')

In [25]:
pt3 = Point(3,4)
pt3

Point(x=3, y=4)

In [26]:
Point2 = namedtuple('Point', 'x y z')

In [27]:
pt4 = Point2(3,4,5)
pt4

Point(x=3, y=4, z=5)

In [28]:
pt3 = Point(1.0, 5.0)
pt4 = Point(2.5,1.5)
print(pt3, pt4)

Point(x=1.0, y=5.0) Point(x=2.5, y=1.5)

In [29]:
pt3.x, pt4.x

(1.0, 2.5)

In [30]:
l_leng2 = sqrt(((pt3.x - pt4.x)**2) + ((pt3.y - pt4.y)**2))
l_leng2

3.8078865529319543

In [31]:
# Assign
Point1 = namedtuple('Point', ['x', 'y'])
Point2 = namedtuple('Point', 'x, y')
Point3 = namedtuple('Point', 'x y')

In [32]:
Point4 = namedtuple('Point', 'x y x class', rename= True)

In [35]:
print(Point1)
print(Point2)
print(Point3)
print(Point4)

<class '__main__.Point'>
<class '__main__.Point'>
<class '__main__.Point'>
<class '__main__.Point'>

In [36]:
p1 = Point1(x=10, y= 35)
p2 = Point2(20,40)
p3 = Point3(45, y= 20)
p4 = Point4(10, 20, 30, 40)

In [38]:
print(p1)
print(p2)
print(p3)
print(p4)

Point(x=10, y=35)
Point(x=20, y=40)
Point(x=45, y=20)
Point(x=10, y=20, _2=30, _3=40)

In [39]:
# Dict to Unpacking
temp_dict = {'x' : 75, 'y' : 55}
p5 = Point3(**temp_dict)

In [40]:
print(p5)

Point(x=75, y=55)

In [41]:
print(p1.x + p2.y)

50

In [42]:
# Unpacking
x,y = p3
print(x)
print(y)

45
20

In [43]:
# Nametuple method
temp = [52, 38]
p4 = Point1._make(temp)
print(p4)

Point(x=52, y=38)

In [44]:
# check key value 
print(p1._fields, p2._fields, p3._fields)

('x', 'y') ('x', 'y') ('x', 'y')

In [45]:
# _asdict() -> OrderedDict
print(p1._asdict())

{'x': 10, 'y': 35}

In [47]:
# practical case
# 20 students , 4 classes (A, B, C, D)
Classes = namedtuple('Classes', ['rank', 'number'])

In [48]:
number = [str(n) for n in range(1,21)]
ranks = 'A B C D'.split()

In [49]:
students = [Classes(rank, num) for rank in ranks for num in number]

In [50]:
students

[Classes(rank='A', number='1'),
 Classes(rank='A', number='2'),
 Classes(rank='A', number='3'),
 Classes(rank='A', number='4'),
 Classes(rank='A', number='5'),
 Classes(rank='A', number='6'),
 Classes(rank='A', number='7'),
 Classes(rank='A', number='8'),
 Classes(rank='A', number='9'),
 Classes(rank='A', number='10'),
 Classes(rank='A', number='11'),
 Classes(rank='A', number='12'),
 Classes(rank='A', number='13'),
 Classes(rank='A', number='14'),
 Classes(rank='A', number='15'),
 Classes(rank='A', number='16'),
 Classes(rank='A', number='17'),
 Classes(rank='A', number='18'),
 Classes(rank='A', number='19'),
 Classes(rank='A', number='20'),
 Classes(rank='B', number='1'),
 Classes(rank='B', number='2'),
 Classes(rank='B', number='3'),
 Classes(rank='B', number='4'),
 Classes(rank='B', number='5'),
 Classes(rank='B', number='6'),
 Classes(rank='B', number='7'),
 Classes(rank='B', number='8'),
 Classes(rank='B', number='9'),
 Classes(rank='B', number='10'),
 Classes(rank='B', number='11'),
 Classes(rank='B', number='12'),
 Classes(rank='B', number='13'),
 Classes(rank='B', number='14'),
 Classes(rank='B', number='15'),
 Classes(rank='B', number='16'),
 Classes(rank='B', number='17'),
 Classes(rank='B', number='18'),
 Classes(rank='B', number='19'),
 Classes(rank='B', number='20'),
 Classes(rank='C', number='1'),
 Classes(rank='C', number='2'),
 Classes(rank='C', number='3'),
 Classes(rank='C', number='4'),
 Classes(rank='C', number='5'),
 Classes(rank='C', number='6'),
 Classes(rank='C', number='7'),
 Classes(rank='C', number='8'),
 Classes(rank='C', number='9'),
 Classes(rank='C', number='10'),
 Classes(rank='C', number='11'),
 Classes(rank='C', number='12'),
 Classes(rank='C', number='13'),
 Classes(rank='C', number='14'),
 Classes(rank='C', number='15'),
 Classes(rank='C', number='16'),
 Classes(rank='C', number='17'),
 Classes(rank='C', number='18'),
 Classes(rank='C', number='19'),
 Classes(rank='C', number='20'),
 Classes(rank='D', number='1'),
 Classes(rank='D', number='2'),
 Classes(rank='D', number='3'),
 Classes(rank='D', number='4'),
 Classes(rank='D', number='5'),
 Classes(rank='D', number='6'),
 Classes(rank='D', number='7'),
 Classes(rank='D', number='8'),
 Classes(rank='D', number='9'),
 Classes(rank='D', number='10'),
 Classes(rank='D', number='11'),
 Classes(rank='D', number='12'),
 Classes(rank='D', number='13'),
 Classes(rank='D', number='14'),
 Classes(rank='D', number='15'),
 Classes(rank='D', number='16'),
 Classes(rank='D', number='17'),
 Classes(rank='D', number='18'),
 Classes(rank='D', number='19'),
 Classes(rank='D', number='20')]

In [51]:
students2 = [Classes(rank, num) 
             for rank in 'A B C D'.split()
                for num in [str(n) for n in range(1,21)]
             ]
students2

[Classes(rank='A', number='1'),
 Classes(rank='A', number='2'),
 Classes(rank='A', number='3'),
 Classes(rank='A', number='4'),
 Classes(rank='A', number='5'),
 Classes(rank='A', number='6'),
 Classes(rank='A', number='7'),
 Classes(rank='A', number='8'),
 Classes(rank='A', number='9'),
 Classes(rank='A', number='10'),
 Classes(rank='A', number='11'),
 Classes(rank='A', number='12'),
 Classes(rank='A', number='13'),
 Classes(rank='A', number='14'),
 Classes(rank='A', number='15'),
 Classes(rank='A', number='16'),
 Classes(rank='A', number='17'),
 Classes(rank='A', number='18'),
 Classes(rank='A', number='19'),
 Classes(rank='A', number='20'),
 Classes(rank='B', number='1'),
 Classes(rank='B', number='2'),
 Classes(rank='B', number='3'),
 Classes(rank='B', number='4'),
 Classes(rank='B', number='5'),
 Classes(rank='B', number='6'),
 Classes(rank='B', number='7'),
 Classes(rank='B', number='8'),
 Classes(rank='B', number='9'),
 Classes(rank='B', number='10'),
 Classes(rank='B', number='11'),
 Classes(rank='B', number='12'),
 Classes(rank='B', number='13'),
 Classes(rank='B', number='14'),
 Classes(rank='B', number='15'),
 Classes(rank='B', number='16'),
 Classes(rank='B', number='17'),
 Classes(rank='B', number='18'),
 Classes(rank='B', number='19'),
 Classes(rank='B', number='20'),
 Classes(rank='C', number='1'),
 Classes(rank='C', number='2'),
 Classes(rank='C', number='3'),
 Classes(rank='C', number='4'),
 Classes(rank='C', number='5'),
 Classes(rank='C', number='6'),
 Classes(rank='C', number='7'),
 Classes(rank='C', number='8'),
 Classes(rank='C', number='9'),
 Classes(rank='C', number='10'),
 Classes(rank='C', number='11'),
 Classes(rank='C', number='12'),
 Classes(rank='C', number='13'),
 Classes(rank='C', number='14'),
 Classes(rank='C', number='15'),
 Classes(rank='C', number='16'),
 Classes(rank='C', number='17'),
 Classes(rank='C', number='18'),
 Classes(rank='C', number='19'),
 Classes(rank='C', number='20'),
 Classes(rank='D', number='1'),
 Classes(rank='D', number='2'),
 Classes(rank='D', number='3'),
 Classes(rank='D', number='4'),
 Classes(rank='D', number='5'),
 Classes(rank='D', number='6'),
 Classes(rank='D', number='7'),
 Classes(rank='D', number='8'),
 Classes(rank='D', number='9'),
 Classes(rank='D', number='10'),
 Classes(rank='D', number='11'),
 Classes(rank='D', number='12'),
 Classes(rank='D', number='13'),
 Classes(rank='D', number='14'),
 Classes(rank='D', number='15'),
 Classes(rank='D', number='16'),
 Classes(rank='D', number='17'),
 Classes(rank='D', number='18'),
 Classes(rank='D', number='19'),
 Classes(rank='D', number='20')]

In [52]:
for s in students2:
    if s.rank == "D":
        print(s)

Classes(rank='D', number='1')
Classes(rank='D', number='2')
Classes(rank='D', number='3')
Classes(rank='D', number='4')
Classes(rank='D', number='5')
Classes(rank='D', number='6')
Classes(rank='D', number='7')
Classes(rank='D', number='8')
Classes(rank='D', number='9')
Classes(rank='D', number='10')
Classes(rank='D', number='11')
Classes(rank='D', number='12')
Classes(rank='D', number='13')
Classes(rank='D', number='14')
Classes(rank='D', number='15')
Classes(rank='D', number='16')
Classes(rank='D', number='17')
Classes(rank='D', number='18')
Classes(rank='D', number='19')
Classes(rank='D', number='20')